
header {
    text-align: center;
    padding: 4rem 0;
    background: $background-gradient;

    @include mobile {
        padding: 4rem 0.5rem;

        h1 {
            margin: 0;
            font-size: 3rem;
        }
    }
}

// Navigation
.nav-container{
    position: sticky;
    top: 0;
    padding: 0.5rem;
    z-index: 9999;
    width: 100%;

    @include bigger-than-700 {
        background: $background-color;
    }

    @include small-device {
        display: block;
    }
}

nav {
    ul {
        list-style-type: none;
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }

    a {
        padding: 1rem;
        color: $link-color;
        font-size: 1.2rem;
        text-decoration: none;
        transition: 0.2s;

        @include desktop {
            &:hover {
                color: $link-hover;
            }
        }
    }
}

// Hamburger-meny
#hamburger-icon {
    @extend .nav-container;
    background: $background-color;
    padding: 0;
    padding-right: 1rem;
    text-align: right;
    color: $link-color;
    font-size: 2.5rem;
}

#navigation {
    @include small-device {
        display: block;
        background: $background-color;
        position: absolute;
        top: 3rem;
        left: 0;
        right: 0;

        .flex-container {
            flex-direction: column;
            text-align: center;
        }

        a {
            padding: 0.7rem;
            display: flex;
            
        }
    }
}

// Huvudinnehåll
main {
    max-width: 900px;
    margin: auto;
    padding: 3rem 1rem 2rem 1rem;

    @include mobile {
        padding: 2rem 0.5rem 2rem 0.5rem;
    }
}

// Välkomsttext
#intro-text {
    background: white;
    border-radius: 60px;
    color: black;
    padding: 4rem;
    flex: 2;

    @include mobile {
        padding: 1.2rem;
        border-radius: 30px;
    }

    h2 {
        text-align: left;
    }
}

// Profilbilder
.img-container {
    flex: 1;
    margin: 4rem 0 0 1rem;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
        object-position: 50% 10%; // Positionerar bilden
    }
}

// Sektioner
section {
    width: 100%;
    margin: 0 auto 4rem auto;
    padding-top: 2rem;

    h2 {
        text-align: center;
        font-size: 2rem;
    }

    h3 {
        margin-top: 0.5rem;
    }

    // Alla ikoner i flödet
    i {
        font-size: 3rem;
        margin: 0.5rem;
    }

    .img-icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin: 0.5rem;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    #icon-container {
        width: -moz-fit-content;
        width: fit-content;
        margin: auto;
    }

    p {
        margin-bottom: 0.8rem;
    }
}

// Tabell
table {
    // Ta bort vit linje mellan alla td
    overflow: auto;
    border-collapse: collapse;

    // Gör varannan rad mörkare
    tbody:nth-of-type(even){
        tr{
            background: $odd-color; 
        } 
    }

    th {
        text-align: left;
        font-weight: 400;
        padding: 0.5rem;
        width: 40%;
    }

    td {
        padding: 0.5rem;
        width: 40%;
    }

    .school-table {
        width: 20%;
    }

    .code-table {
        width: 10%;
    }

    .center {
        text-align: center;
        width: 10%;
    }
}

// Tabell på enheter mindre än 700px
@include small-device {
    table {
        width: 100%;

        .center {
            text-align: unset;
        }
    }

    th {
        display: none;
    }

    td {
        display: block;
        width: 100% !important;
    }

    .school-title, .code-title, .name-title, .start-title, .end-title {
        text-align: left;
    }

    // Ersätter titlarna med before
    .school-title::before {
        content: "Skola: ";
        font-weight: bold;
    }

    .code-title::before {
        content: "Kurskod: ";
        font-weight: bold;
    }

    .name-title::before {
        content: "Kursnamn: ";
        font-weight: bold;
    }

    .start-title::before {
        content: "Start år/månad: ";
        font-weight: bold;
    }

    .end-title::before {
        content: "Slut år/månad: ";
        font-weight: bold;
    }
}

// Jobb / webbsidor
// Gör varannan blå
.job:nth-of-type(odd), .website:nth-of-type(odd) {
    background: $odd-color; 
}

// Jobb
.job {
    .job-headers {
        margin-right: 1rem;
        flex: 1;
    }

    .job-text {
        flex: 3;
    }

    span {
        margin-top: 1rem;
        text-align: right;
        display: block;
    }
}

// Webbsidor
.website {
    .website-title {
        flex: 1;
    }

    .website-text {
        flex: 3;
    }

    .link-container {
        text-align: right;
        margin-top: 1rem;

        a {
            color: $link-color;
            transition: 0.2s;

            @include desktop {
                &:hover {
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}

.website, .job {
    padding: 1.5rem;

    @include mobile {
        padding: 1rem;
        .flex-container {
            flex-direction: column;
        }

        h5 {
            margin-bottom: 0.5rem;
        }
    }
}

// About
#about-h2 {
    text-align: center;
}

#about-text {
    @extend #intro-text; // Ärver regler från välkomsttexten

    h2 {
        text-align: center;
        
    }

    h3 {
        background: transparent;
        color: black;
        padding: 0;
        margin: 0;
    }
}

// Kontakt
#contact-section{
    max-width: 500px;

    a {
        color: $link-color;
        transition: 0.2s;

        @include desktop {
            &:hover {
                letter-spacing: 0.5px;
            }
        }
    }
}

// Footer {
footer {
    text-align: center;
    color: white;
    padding: 2rem;

    a {
        color: $link-color;
        @include desktop {
            &:hover {
                cursor: pointer;
            }
        }

        i {
            font-size: 2rem;
            margin: 1rem;
        }
    }
}

// MEdia
// Välkomsttext och about-text
.intro-container, .about-container {
    position: relative;
    @include small-device {
        flex-direction: column;
        margin-bottom: 5rem;

        .img-container {
            position: absolute;
            bottom: -5.5rem;
            right: 2rem;
            margin: auto;
        }
    }

    @include mobile {
        margin-bottom: 8rem;
        .img-container {
            bottom: -7rem;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            width: 200px;
        }
    }
}

// Visa/göm mobilmeny
.hide-desktop {
    display: none;

    @include small-device {
        display: block;
    }
}

// Visa/göm desktop-meny
.hide-tablet {
    @include small-device {
        display: none;
    }
}